*~
*.swp
*.pyc
*.so
.cache
installer
doc/_build/*
sgf/*
kombilo/libkombilo/examples/*.o
kombilo/libkombilo/examples/cpptest
kombilo/libkombilo/doc/build/*
kombilo/libkombilo/doc/libkombilo.tag
kombilo/libkombilo/libkombilo.py
kombilo/libkombilo/boost
kombilo/libkombilo/examples/sgftest
kombilo/libkombilo/examples/tags
kombilo/kombilo.cfg
kombilo/dist
kombilo/build
kombilo/tests/db/*.d*
kombilo/lang/*/LC_MESSAGES/*.mo
kombilo.egg-info
build
dist
TODO

