*~
*.swp
*.pyc
*.so
installer
doc/_build/*
sgf/*
lk/examples/*.o
lk/examples/cpptest
lk/build/*
lk/doc/build/*
lk/doc/libkombilo.tag
lk/libkombilo.py
lk/libkombilo_wrap.cxx
lk/boost
src/kombilo.cfg
src/libkombilo.py
src/dist
src/build
lang/*/LC_MESSAGES/*.mo
TODO

